/*landing page*/
body {
  	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
/*	background: black;*/
	background: url("../images/beach.jpeg") center  no-repeat;
}

img {
	width: 100%;
	height: 100%;
}
.landing {
	/*display: block;*/
	position: relative;
	text-align: center;
/*	background-image: url("../images/beach.png");
	background: no-repeat;*/ /*-----doesn't work for some reason*/
}
.gameboard {
	display: block;
	position: relative;
	text-align: center;
/*	background-image: url("images/beach.png");
	background: no-repeat;*/
}

h1 {
	font-size: 36px;
}
.btn {
	background-color: rgba(213, 200, 182, .5);
	border: none;
	padding: 15px 23px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	position: relative;	
	border-radius: 10px
}
/*starting css for game page*/
/*first player*/
.box {
	width: 100px;
	height: 100px;
	background-color: red; 
	display: block;
	position: relative;
	left: 20px;
	margin: 20px;
}
.box {
  animation: 1s move;
}
/*second player*/
.box1 {
	width: 100px;
	height: 100px;
	background-color: blue; 
	display: block;
	position: relative;
	left: 20px;
	margin: 20px;
}
.box1 {
  animation: 2s move;
}
/*moving boxes when click*/

@keyframes move {
  from {
      left: 10%;
  }

 /* tablet screen size*/
  @media screen {
	only screen and (min-width:321px) and (max-width:768px) {
		{
	}
}
